* {
  font-family:Georgia, 'Times New Roman', Times, serif
}
.canvas {
  padding-top: 15px;
  text-align: center;
}
nav {
  display: block;
  text-align: center;
  margin-top: 2rem;
}
button {
  margin: 10px;
  padding: 10px;
  font-size: large;
  font-weight: bold;
  border-radius: 8px;
}
.home {
  text-decoration: none;
  align-items: center;
  border : solid black 3px;
  margin: 5px;
  padding: 10px;
  font-size: large;
  font-weight: bold;
  border-radius: 8px;
}
a {
  background-color: cyan;
  padding: 5px;
  color: navy;
}

